.toggle-btn {
  & span{
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    border-radius: 5px;
  }

  & span:hover,
  & input:checked ~ span {
    background: $third-color;
    color: $solid-white;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .2);
  }
    
  border-radius: 0;
}