$solid-black: rgb(0, 0, 0);
$shadow-black: rgba(0, 0, 0, 0.3);
$solid-white: rgb(255, 255, 255);
$white-ish: rgb(252, 252, 252);
$light-grey: #f7f7f7;
$cerise-pink: #e4217c;
$denim-blue: rgba(20, 89, 227, 0.671);
