.requests-top-msg {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-shadow: 0;
}

.requests-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: repeat(auto-fill, 315px);
  gap: 2rem;
  justify-content: center;
  background: $solid-white;
}

