.login-form-container {
  width: clamp(280px, 50%, 600px);
  padding: 3rem;
  background: $solid-white;
  border-radius: 20px;
  box-shadow: $low-blur-shadow; 
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: clamp(180px, 80%, 450px);
  padding-block: 2rem;
  margin-inline: auto;
  overflow: hidden;
}

.server-error-msg {
  font-size: 0.8rem;
  text-align: center;
  color: #757575;
}