.error-fallback {
  margin-top: 10vh;
  margin-bottom: auto;
  margin-inline: auto;
  text-align: center;

  & h1 {
    font-size: 5rem;
    color: $third-color;
    padding-bottom: 2rem;
  }

  & pre {
    font-size: 1rem;
    text-align: left;
    color: transparent;
    @include user-select(all);
    padding-bottom: 0;
  }

  & p {
    font-weight: 300;
    padding-bottom: 2rem;
  }

  & .refresh-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 1rem;

    & svg {
      font-size: 2rem;
    }
  }
}
