.navbar-link {
  display: flex;
  align-items: center;
  position: relative;
  height: 41px;
  margin-inline: 2vw;
  
  @include breakpoint-md {
    & {
      text-align: center;
    }
  }
  
  & a {
    display: block;
    color: $secondary-color;
    white-space: nowrap;
    letter-spacing: 2px;
    // text-transform: uppercase;

    &:hover {
      color: $third-color;
    }

    @include breakpoint-md {
      &:hover::after {
        width: 100%;
        background: $third-color;
        transition: width 0.3s;
      }
    }

    &::after {
      @include horizontal-center;
      content: '';
      bottom: 5%;
      height: 3px;
      width: 0;
      border-radius: 50px;
      background: $secondary-color;
    }
    
    &.active-link {
      color: $third-color;
    }
  }
}

.sign-in-links {
  letter-spacing: 1px;
  font-size: 1rem;
  // font-weight: 600;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 41px;

  & > span {
    color: $third-color;
  }
  
  & li {
    margin-inline: 1rem;
    
    & a {
      color: $secondary-color;

      &:hover {
        color: $third-color;
      }
    }
  }

  @include breakpoint-md {
    margin-left: 2vw;
  }

  &::after {
    height: 0;
  }
}

.navbar-user-img {
  position: absolute;
  right: 50px;
  top: 25px;
  
  @include breakpoint-md {
    position: static;
  }
  
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  & img {
    @include size(45px);
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 2vw;
    border: 5px solid transparent;
    transition: border 0.1s ease-in-out;
    
    &:hover {
      border-width: 0;
    }

    @include breakpoint-md {
      margin-right: 0.1rem;
    }
    
  }
  
  @include breakpoint-md {
    & a:hover::after {
      width: 0;
      height: 0;
    }
  }
}

.sign-out-link {
  transition: all 0.3s ease;
  // overflow: hidden;
  font-size: 0.9rem;
  // white-space: normal;
  margin: 0;
  
  @include breakpoint-md {
    opacity: 0;
    width: 0;
    margin-inline: 0.5rem;
  }
}

// .user-notification {
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   transform: translateX(-5%) translateY(5%);
//   background: $third-color;
//   width: 0.8rem;
//   height: 0.8rem;
//   border-radius: 50%;
//   color: #fff;
//   font-family: $main-font;
//   font-size: 0.5rem;
//   text-align: center;
// }