.homepage {
  background-repeat: repeat;
}

.homepage-logo {
  color: $third-color;
  height: 10rem;
  animation: ease 5s flash-neon infinite alternate;

  & * {
    animation: ease 5s flash-color infinite alternate;
  }
}

@keyframes flash-neon {
  0% {
    filter: drop-shadow(0px 0px 0px #e4217c00);
  } 100% {
    filter: drop-shadow(0px 0px 3px #e4217c8a);
  }
}

@keyframes flash-color {
  0% {
    fill: #f7f7f7;
  } 100% {
    fill: #fff;
  }
}


.homepage-hero-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.homepage-hero-link {
  margin-block: 50px;
  background: #fff;
  backdrop-filter: blur(1px);
  flex-basis: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
  border-radius: 100px;
  padding-block: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;
  cursor: pointer;
  transition: all 0.1s;
  text-align: center;
  font-weight: 300;
  font-family: $main-font;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #000;
  
  &:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, .2);
    transform: scale(1.1);
  }
  
  & svg {
    color: $third-color;
  }

  & img {
    margin-top: .4em;
  }
  


  &.pink-link {
    background: $third-color;
    color: #fff;
  }
}