header {
  position: fixed;
  width: 100%;
  background: $main-color;
  box-shadow: $med-blur-shadow;
  z-index: 5;
  
  @include breakpoint-md {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.8rem 1.2rem;
  font-family: $third-font;
  font-size: 1.1rem;
  font-style: normal;
  min-height: 90px;
  // letter-spacing: 1px;
  
  @include breakpoint-md {
    flex-direction: row;
    align-items: center;

    &:hover .sign-out-link {
      width: 38px;
      opacity: 1;
    }
  }
}

.navbar-links {
  display: none;
  
  
  @include breakpoint-md {
    & {
      margin-left: auto;
      display: flex;
    }
  }
  
  &.display-menu {
    display: flex;
    flex-direction: column;

    @include breakpoint-md {
    flex-direction: row;

    }

    & li {
      animation: dropdown 0.5s ease-in backwards;
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    // margin: 0 3rem 0 0;

    @include breakpoint-md {
      & {
        flex-direction: row;
      }
    }
  }
}

.display-menu li:nth-child(2) {animation-delay: 0.1s;}
.display-menu li:nth-child(3) {animation-delay: 0.2s;}
.display-menu li:nth-child(4) {animation-delay: 0.3s;}
.display-menu li:nth-child(5) {animation-delay: 0.4s;}
.display-menu li:nth-child(6) {animation-delay: 0.5s;}

@keyframes dropdown {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
